<body>
    
<section class="aboutcontent">
    <img src="../../assets/aboutus.png">
    <div class="row">
        <div class="about-col">
            <h1>What is KanbanBoard?</h1>
            <p>You know that “do, doing, done,” board with all the sticky notes? Believe it or not, your coworker didn’t make that up. It’s the Kanban method. Commonly used by software development teams, Kanban is a way to help teams visualize the work
                that needs to get done with the available capacity of their team. A Kanban board; is a form of visual project management that allows you to plot out projects and workflows using columns and cards.
            </p>
            <h1>
                Kanban Tool
            </h1>
            <p>
                Kanban Tool is a visual management solution that helps companies visualize workflow, track project progress, and analyze and significantly improve business processes. Kanban Tool provides powerful online Kanban boards with seamless time tracking and insightful
                analytics. Our Kanban software works perfectly in any business process and is designed for teams that want to visualize work on a Kanban board.
            </p>
            <a href="#" class="btn btn-lg btn-light">Explore more</a> 
        </div>
    </div>

</section>
    
</body>