<section class="home">
    <img src="../../assets/1.jpg">
    <div class="homecontent">
        <h1>KanbanBoard helps teams move work forward.</h1>
        <h1>It’s more than work. It’s a way of working together.</h1>
        <!-- <h3>Start with a KanbanBoard, lists, and cards. Customize and expand with more features as your teamwork grows. Manage projects, organize tasks, and build team spirit—all in one place.</h3> -->
        <a href="#" class="btn btn-lg btn-light">Explore more</a> 
    </div>
</section>